<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
      {{yield}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" {{action "cancelClick"}}>Close</button>
      {{#unless saveDisabled}}
        <button type="button" {{bind-attr disabled="saveDisabled"}} class="btn btn-primary" {{action "saveClick"}}>Save changes</button>
      {{/unless}}
    </div>
  </div>
</div>
