{{#modal-dialog title=title save="save" modelToSave=model cancel="cancel" saveDisabled=saveDisabled}}

{{#form-for model}}
  {{input path label="Path"}}
  {{#if appsReady}}
    {{input app as='select'
      collection='apps'
      optionValuePath='content.id'
      optionLabelPath='content.name'
      prompt='Select Application'
      selection='app'
    }}
  {{else}}
    <span>Loading Apps</span>
  {{/if}}
  {{#if stacksReady}}
    {{input stack as='select'
      collection='stacks'
      optionValuePath='content.id'
      optionLabelPath='content.name'
      prompt='Select Stack'
      selection='stack'
    }}
  {{else}}
    <span>Loading Stacks</span>
  {{/if}}
{{/form-for}}

{{#if showSuccessAlert}}
  <div class="alert alert-success">
    New API Saved.
  </div>
{{/if}}

{{/modal-dialog}}
