<div class="col-md-6 stack_items">
  <h2>New stack</h2>
  {{input value=name class="form-control field" placeholder="Stack Name"}}
  {{#each mw in middlewares itemController="middleware-item"}}
    <div class="stack_item">
      <button class="btn btn-default" {{action "removeFromStack" mw}}>Remove</button>
      {{mw.underlying.friendlyName}}
      {{#if canBeConfigured}}
        <button class="btn btn-primary configure_btn" {{action "toggleConfiguration"}}>Configure</button>
      {{/if}}
    </div>
    {{#if configurationToggled}}
      {{#modal-dialog title=mw.underlying.friendlyName cancel="toggleConfiguration" saveDisabled=true}}
      {{#each schemaItem in mw.underlying.schema}}
        <div>
          {{#view App.ConfigFieldView}}
            <label {{bind-attr for="view.configText.elementId"}}>
              {{schemaItem.name}}
            </label>
            {{view App.ConfigTextField
              viewName="configText"
              fieldName=schemaItem.name
              config=config
              placeholder=schemaItem.name}}
          {{/view}}
        </div>
      {{/each}}
      {{/modal-dialog}}
    {{/if}}
  {{/each}}
</div>

<div class="stack_items col-md-6">
  <h2>Available middleware</h2>

  {{#if middlewareRemaining}}
    {{input value=middlewareQuery placeholder="Search" type="search" class="form-control field"}}
  {{else}}
    <span>No middlewares left to add</span>
  {{/if}}

  {{#each mw in filteredMiddlewares}}
    <div class="stack_item">
      <button class="btn btn-default" {{action 'addToStack' mw}}>Add</button>
      {{mw.friendlyName}}
    </div>
  {{/each}}
</div>
