{{#form-for model}}
  {{input fragment label="Path"}}
  {{#if saveEnabled}}
    {{input app as='select'
      collection='apps'
      optionValuePath='content.id'
      optionLabelPath='content.name'
      prompt='Select Application'
      selection='app'
    }}
  {{else}}
    <span>Loading Apps</span>
  {{/if}}
{{/form-for}}

<p><button {{bind-attr disabled="saveDisabled"}} id="save" {{action "save" model}}>Save</button></p>

<p>{{#link-to 'apis'}}Cancel{{/link-to}}</p>
